<ion-header>
  <ion-navbar [color]="headerColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    

    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleDrag()">
            <ion-icon name="move" ></ion-icon>
         </button>
      
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-footer [color]="green" *ngIf="isDrag">
  <ion-toolbar>
    <ion-buttons end>
      <button  ion-button round color="primary" (click)="changeSize(1)">
        <ion-icon name="add" ></ion-icon> &nbsp;{{'MONTAGE_SIZE_INCREASE' | translate}}
      </button>
      <button  ion-button round color="primary" (click)="changeSize(-1)">
        <ion-icon name="remove" ></ion-icon> &nbsp;{{'MONTAGE_SIZE_DECREASE' | translate}}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-content padding>
  <h3>{{ 'HELLO' | translate}}</h3>



  <div class="grid">
    <div class="grid-sizer grid-item-{{size}}"></div>
    <figure class="grid-item grid-item-{{size}}" *ngFor="let item of cameras">
      <img [src]="useSnapshot? item.snapshotURL: item.streamingURL" />
      <figcaption>&nbsp;{{item.name}}</figcaption>
      <button small (click)="killStream(item)">kill</button>
    </figure>
  </div>




</ion-content>
